@font-face {
  font-family: "iconfont"; /* Project id 1947991 */
  src: url('iconfont.woff2?t=1660121229408') format('woff2'),
       url('iconfont.woff?t=1660121229408') format('woff'),
       url('iconfont.ttf?t=1660121229408') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home-page:before {
  content: "\e60c";
}

.icon-full-screen:before {
  content: "\e920";
}

.icon-bookmark-dark:before {
  content: "\e7e7";
}

.icon-idCard:before {
  content: "\e722";
}

.icon-default-settings:before {
  content: "\e65e";
}

.icon-user-light:before {
  content: "\e603";
}

.icon-exec:before {
  content: "\e624";
}

.icon-delete:before {
  content: "\e665";
}

.icon-remind:before {
  content: "\e798";
}

.icon-array-down:before {
  content: "\e666";
}

.icon-bookmark-light:before {
  content: "\e6e2";
}

.icon-print:before {
  content: "\e61c";
}

.icon-normalize:before {
  content: "\e64f";
}

.icon-search:before {
  content: "\e7c9";
}

.icon-insert:before {
  content: "\e60a";
}

.icon-workbench:before {
  content: "\e784";
}

.icon-trash:before {
  content: "\e68e";
}

.icon-settings:before {
  content: "\e61a";
}

